
main {
    display: flex;
    background: rgba(240, 96, 0, 0.89);
    flex-direction: column;
    align-items: center;

}
.simples-definicao {
    color: whitesmoke;
    width: 420px;
    height: 300px;
    border: solid 1px black;
    background-image: url(../imagens-naruto/naruto.jpg);
    background-size: 100% 100%;
}
.simples-definicao-cor{
    width: 420px;
    height: 300px;
    margin-top: 20px;
    border: solid 1px black;
    background: linear-gradient(rgba(255, 200, 99, .7), rgba(250, 22, 117, .7)),
    linear-gradient(rgba(99, 80, 168, .5), rgba(105, 196, 109, .3));
    color: white;
    overflow: auto;
}
.scroll-definicao {
    background: black;
    margin-top: 20px;
    color: whitesmoke;
    width: 420px;
    height: 300px;
    border: solid 1px black;
    background-image: url(../imagens-naruto/naruto.jpg);
    background-size: contain;
    background-repeat: space;
    background-attachment: scroll;
    overflow: auto;
}

.definição-fixo{
    background: black;
    margin-top: 20px;
    color: whitesmoke;
    width: 420px;
    height: 300px;
    border: solid 1px black;
    background-image: url(../imagens-naruto/naruto.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.definição-local{
    background: black;
    margin-top: 20px;
    color: whitesmoke;
    width: 420px;
    height: 300px;
    border: solid 1px black;
    background-image: url(../imagens-naruto/naruto.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: local;
    overflow: auto;
}

.mescla-imagens{
    background: rgb(84, 100, 95);
    margin-top: 20px;
    color: rgb(0, 0, 0);
    width: 420px;
    height: 300px;
    border: solid 1px black;
    background-image: url(../imagens-naruto/montanha.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode: exclusion;
    overflow: auto;
}


